{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">

  <form  method="post">
    {% csrf_token %}

    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Join</legend>

      {{form|crispy }}

    </fieldset>

    <div class="form-group">
      <input type="submit" name="submit" >

    </div>

  </form>

  <div class="border-top pt-3">
    <small class="text-muted">Already Have Account?<a class="ml-2" href="#">Sign In</a></small>

  </div>

</div>

{% endblock %}
